@model Capstone.Web.Models.Survey

@{
    ViewData["Title"] = "Submit Survey";
    List<SelectListItem> parkNames = ViewBag.ParkSelectList as List<SelectListItem>;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>National Park Weather Service Daily Survey</title>
    <style>
        .survey-all {
            position: relative;
        }

        .col-md-4 > form {
            padding-top: 75px;
            bottom: 1px;
            position: absolute;
            left: -200px;
            display: inline-block;
            width: 300px;
            height: 600px;
            background-color: rgb(128, 128, 128, .8);
        }

        form {
            margin: 0 250px;
            width: 200px;
            opacity: 0.9;
        }

        .form-group {
            margin: 0 100px 50px 50px;
            width: 200px;
            color: rgb(230, 227, 239);
        }

        .control-label{
            padding-bottom: 10px;
        }

        .form-group-home{
            position: absolute;
            bottom: 1px;
            left: 50px;
        }

        #home-link {
            color: lightgrey;
        }

        #EmailAddress-error {
            color: white;
        }
    </style>
</head>
<body>
    <div class="survey-all">
        <img src="~/img/landscapes-mountains-water-nature-wallpapers-hd-live.jpg" />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Submit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ParkCode" class="control-label"></label>
                        <select asp-for="ParkCode" asp-items="@parkNames" class="form-control"></select>
                        <span asp-validation-for="ParkCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" asp-items="Survey.states" class="form-control"></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActivityLevel" class="control-label"></label>
                        <select asp-for="ActivityLevel" asp-items="Survey.activity" class="form-control"></select>
                        <span asp-validation-for="ActivityLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                    <div class="form-group-home">
                        <a id="home-link" asp-controller="Home" asp-action="Index">Back to Home page</a>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
