
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #484848;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #50566b;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.93;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    ul li {
        list-style: none;
       
    }

select, input, textarea, button, .form-control {
    box-shadow: none;
    outline: 0;
}

button {
    background: transparent;
    border: 0;
    font-size: 16px;
    text-transform: capitalize;
}

html, body {
    height: 100%;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 800;
    color: #000;
    text-align: center;
}

.section-title p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.93;
    text-align: center;
    color: #9a9a9a;
    max-width: 788px;
    margin: 0 auto;
    margin-top: 58px;
}
/*-------------------------------------
        2. Nav-bar
--------------------------------------*/
.navbar {
    display:flex;
    padding: 34px 0;
}

.navbar-nav{
   position:relative;
   left: 60%;
}

.nav-item {
    padding-right: 30px;
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }

        #mainNav .navbar-brand {
            font-size: 1.75em;   
            transition: all .3s
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em 
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,.2);
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0
            }
}
/*.navbar-brand */
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    color: #000;
    margin: 0 20px;
}

/*.navbar-link */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,1);
}

    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
        color: #000;
    }


/*-------------------------------------
        detail
--------------------------------------*/
.about {
    position: relative;
    margin-bottom: 194px;
}


.about-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    height: 100%;
}

.about-2 {
    position: relative;
}

.about-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #2a2a2b;
    z-index: -1;
}

.single-about-txt-2 {
    padding: 120px 0 90px;
}

    .single-about-txt-2 h4 {
        font-size: 14px;
        font-weight: 800;
        color: #fff;
        margin-bottom: 47px;
    }

    .single-about-txt-2 p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.93;
        color: #bcb5b5;
        margin: 50px 0;
        max-width: 370px;
    }

.single-about-txt {
    position: relative;
}

    .single-about-txt h2 {
        font-size: 47px;
        font-weight: 800;
        color: #383838;
        margin-bottom: 73px;
    }

    .single-about-txt p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.93;
        color: #7c7b7b;
        max-width: 546px;
        margin: 43px 0;
    }

        .single-about-txt p span {
            font-size: 48px;
            text-transform: capitalize;
            line-height: 1;
        }
/*-------------------------------------
    gallery
--------------------------------------*/
.gallery {
    padding: 42px 0 0
}

.img-item-overlay h3 a {
    font-size: 26px;
    font-weight: normal;
    line-height: 3.23;
    color: #fff;
}


/*-------------------------------------
    button
--------------------------------------*/

.btn.welcome-btn.gallery-btn {
    width: 143px;
    height: 52px;
    font-size: 14px;
}

.btn.welcome-btn {
    width: 175px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}


/*-------------------------------------
     box overlay
--------------------------------------*/



.featured-txt {
    text-align: center;
    margin: 50px 0 58px;
}

.single-featured-box, .img-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    transition: .5s;
}

    .single-featured-box img, .img-item img {
        transform: scale(1); 
        transition: .5s;
    }

.single-featured-box-overlay, .img-item-overlay {
    position: absolute;
    bottom: -125px;
    left: 0;
    width: 100%;
    height: 125px;
    background: rgba(255, 255, 255, .8);
    transition: .5s;
}

.img-item-overlay {
    bottom: auto;
    top: 0;
    height: 100%;
    background: rgba(0,112,162,.5);
    transform: scale(0);
}

.img-item:hover .img-item-overlay {
    transform: scale(1);
}

.single-featured-box:hover .single-featured-box-overlay {
    bottom: 0;
}

.single-featured-box:hover img, .img-item:hover img {
    transform: scale(1.2);
}

.btn.welcome-btn.featured-button {
    width: 245px;
    height: 67px;
}




